<!-- wp:template-part {"slug":"header","theme":"school-site-theme","tagName":"header"} /-->

<!-- wp:query-title {"type":"archive","style":{"spacing":{"margin":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"}}}} /-->

<!-- wp:query {"queryId":9,"query":{"perPage":100,"pages":0,"offset":0,"postType":"post","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"layout":{"type":"constrained"}} -->
<div class="wp-block-query">
  <!-- wp:post-template {"layout":{"type":"grid","columnCount":2}} -->
  <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","sizeSlug":"student-featured"} /-->

  <!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"var:preset|spacing|20"}}}} /-->

  <!-- wp:post-terms {"term":"student-grade-level","textAlign":"center"} /-->

  <!-- wp:spacer {"height":"65px"} -->
  <div style="height: 65px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  <!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"school-site-theme","tagName":"footer"} /-->
