<!-- wp:template-part {"slug":"header","theme":"school-site-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"70rem"}} -->
<main class="wp-block-group">
  <!-- wp:heading {"fontSize":"large"} -->
  <h2 class="wp-block-heading has-large-font-size">Recent News</h2>
  <!-- /wp:heading -->

  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
  <div class="wp-block-group">
    <!-- wp:query {"queryId":13,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"layout":{"type":"constrained","contentSize":"46rem","justifyContent":"center"}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"layout":{"type":"default"}} -->
      <!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"layout":{"type":"default"}} -->
      <article class="wp-block-group">
        <!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"padding":{"right":"0","left":"0","top":"var:preset|spacing|40","bottom":"0"},"margin":{"right":"0","left":"0","top":"0","bottom":"0"}},"typography":{"fontSize":"33px"}}} /-->

        <!-- wp:group {"style":{"typography":{"fontSize":"14px"},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex"}} -->
        <div
          class="wp-block-group"
          style="
            margin-top: var(--wp--preset--spacing--30);
            margin-bottom: var(--wp--preset--spacing--30);
            padding-top: var(--wp--preset--spacing--20);
            padding-bottom: var(--wp--preset--spacing--20);
            font-size: 14px;
          "
        >
          <!-- wp:paragraph -->
          <p>Written by:</p>
          <!-- /wp:paragraph -->

          <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->

          <!-- wp:paragraph -->
          <p>Posted on:</p>
          <!-- /wp:paragraph -->

          <!-- wp:post-date {"isLink":true} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","width":"250px","height":"250px","sizeSlug":"student-featured","align":"left"} /-->

        <!-- wp:post-excerpt {"moreText":"Continue Reading","excerptLength":28,"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"0","left":"0"}}}} /-->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
          <!-- wp:post-terms {"term":"category"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"32px"} -->
        <div
          style="height: 32px"
          aria-hidden="true"
          class="wp-block-spacer"
        ></div>
        <!-- /wp:spacer -->
      </article>
      <!-- /wp:group -->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->

    <!-- wp:block {"ref":100} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:query-pagination -->
  <!-- wp:query-pagination-previous /-->

  <!-- wp:query-pagination-numbers /-->

  <!-- wp:query-pagination-next /-->
  <!-- /wp:query-pagination -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"school-site-theme","tagName":"footer"} /-->
