<!-- wp:template-part {"slug":"header","theme":"school-site-theme","tagName":"header"} /-->

<!-- wp:paragraph {"align":"center","metadata":{"categories":["banner"],"patternName":"core/block/105","name":"Banner"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|cobalt-blue"}}},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"bright-coral","textColor":"cobalt-blue"} -->
<p
  class="has-text-align-center has-cobalt-blue-color has-bright-coral-background-color has-text-color has-background has-link-color"
  style="
    border-style: none;
    border-width: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: var(--wp--preset--spacing--20);
    padding-bottom: var(--wp--preset--spacing--20);
  "
>
  <strong>Vote for your Class President by May 10, 2025!</strong>
</p>
<!-- /wp:paragraph -->

<!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"spacing":{"margin":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"}}}} /-->

<!-- wp:query {"queryId":9,"query":{"perPage":100,"pages":0,"offset":0,"postType":"fwd-student","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"layout":{"type":"constrained"}} -->
<div class="wp-block-query">
  <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
  <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/4","sizeSlug":"student-featured","className":"custom-crisp-shadow", "style":{"shadow":"var:preset|shadow|crisp"}} /-->

  <!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"var:preset|spacing|20"}}}} /-->

  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
  <div class="wp-block-group">
    <!-- wp:paragraph -->
    <p>Grade:</p>
    <!-- /wp:paragraph -->

    <!-- wp:post-terms {"term":"student-grade-level","textAlign":"center"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"65px"} -->
  <div style="height: 65px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  <!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"school-site-theme","tagName":"footer"} /-->
